[merge]
    allow = true
[commit]
    message = n
[vrun]
    silent = true
    async = false
[deploy]
    host = localhost
    path = ~/myproject/git/docker/dbuntu
[remote "github"]
    url = git@github.com:huangyingw/dbuntu.git
    fetch = +refs/heads/*:refs/remotes/github/*
[branch "dev"]
    remote = github
    merge = refs/heads/dev
[push]
    remote = github
[gsync]
    remote = github
    branch = master
